<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> truongndph17848@fpt.edu.vn</li>
                            <li>Free Shipping for all Order of $99</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>



                        <form action="" class="ml-[30px]">
                            <div *ngIf="user" id="welcome_user">
                                <a routerLink="" class="text-2xl text-black "><i class="fas fa-user"></i></a>
                                <a routerLink="" class="text-black text-sm">{{user.user.email}}</a>
                                <a routerLink="/auth/login" id="logout" (click)="onLogOut()" class="text-black text-sm">|Đăng xuất</a>
                            </div>

                            <div *ngIf="!user" id="auth">
                                <a routerLink="" class="text-2xl text-black "><i class="fas fa-user"></i></a>
                                <a routerLink="/auth/login" id="signin" class="text-black text-sm">Đăng nhập | </a>
                                <a routerLink="/auth/register" id="sinup" class="text-black text-sm">Đăng ký</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- tách login thoy -->



            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a routerLink="/"><img src="/assets/client/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a routerLink="/">Home</a></li>
                        <li><a routerLink="/shop">Shop</a></li>
                        <li><a href="# ">Pages</a>
                            <ul class="header__menu__dropdown ">

                                <li><a routerLink="/cart">Shoping Cart</a></li>
                                <li><a href="#">Check Out</a></li>
                                <li><a routerLink="/blog">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a routerLink="/blog">Blog</a></li>
                        <li><a routerLink="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 ">
                <div class="header__cart ">
                    <ul>
                        <li><a routerLink="/cart-list"><i class="fa fa-heart "></i> <span>1</span></a></li>
                        <li><a routerLink="/cart-list"><i class="fa fa-shopping-bag "></i> <span>3</span></a></li>
                    </ul>
                    <div class="header__cart__price ">item: <span>$150.00</span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open ">
            <i class="fa fa-bars "></i>
        </div>
    </div>
</header>