<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">



                    <div>
                        <a routerLink="/admin/products">
                            <button class="btn btn-primary"> Quay lại</button>
                        </a>
                        <div>ID SP : {{product._id}}</div>
                        <div>Tên SP : {{product.name}}</div>

                        <div>
                            <input type="number" min="1" [value]="cartItemValue" (input)="onInputValueChang($event)">
                            <button (click)="onAddToCart()">Thêm vào giỏ hàng</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>