<!-- dirty kiểm tra trong sạch -->
<p>{{inputValues | json}}</p>
<!-- <p>{{userForm.value | json}}</p> -->
<!-- <p>{{userForm.valid | json}}</p> -->

<!-- <form action="" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)"> -->
<form action="" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
        <label for="">Tên user</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="inputValues.name" required minlength="10" #name="ngModel">
    </div>
    <span>{{name.errors | json}}</span>
    <span>{{name.dirty | json}}</span>
    <!-- validate -->
    <app-show-validate [field]="name" key="Tên"></app-show-validate>



    <div class="form-group">
        <label for="">Tuổi user</label>
        <input type="number" class="form-control" name="age" [(ngModel)]="inputValues.age" required min="1" max="100" #age="ngModel">
    </div>
    <span>{{age.errors | json}}</span>
    <app-show-validate [field]="age" key="Tuổi"></app-show-validate>


    <div class="form-group">
        <label for="">Email user</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="inputValues.email" required email #email="ngModel">
    </div>
    <span>{{email.errors | json}}</span>
    <app-show-validate [field]="email" key="Email"></app-show-validate>

    <!-- <div class="form-group">
        <label for="">Tuổi user</label>
        <input type="number" class="form-control" name="sdt" [(ngModel)]="inputValues.sdt" required min="10" max="11" #sdt="ngModel">
        <span>{{age.errors | json}}</span>
        <app-show-validate [field]="sdt" key="SDT"></app-show-validate>
    </div> -->


    <div>
        <button class="btn btn-success" [disabled]="!userForm.valid"> Submit</button>
    </div>
</form>



<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th> id </th>
                <th> Tên </th>
                <th> Tuổi </th>
                <th> Email</th>
                <th> SDT</th>
                <th>Avatar</th>
                <th colspan="2"> HĐ</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.email}}</td>
                <td>
                    <button type="button" (click)="onEdit(user.id)"> Edit</button>
                </td>
                <td>
                    <button class="btn btn-primary" type="button" (click)="onDelete(user.id)"> Delete</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>