<!-- list sp ra -->







<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Product</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".oranges">Oranges</li>
                        <li data-filter=".fresh-meat">Fresh Meat</li>
                        <li data-filter=".vegetables">Vegetables</li>
                        <li data-filter=".fastfood">Fastfood</li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- <tbody>
            <tr *ngFor="let product of products">
                <td>{{product._id}}</td>
                <td> <a routerLink="/shop-details/{{product._id}}"><button class="btn btn-info"> Detail </button></a></td>
            </tr>
        </tbody> -->




        <div class="row featured__filter">
            <!-- hiển thị sản phẩm -->
            <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood" *ngFor="let product of products">
                <div class="featured__item">
                    <a routerLink="/shop-details/{{product._id}}">

                        <div class=" featured__item__pic set-bg ">
                            <img src="{{product.image_url}}" alt="">

                            <ul class="featured__item__pic__hover ">
                                <li><a href="# "><i class="fa fa-heart "></i></a></li>
                                <li><a href="# "><i class="fa fa-retweet "></i></a></li>
                                <li><a href="# "><i class="fa fa-shopping-cart "></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text ">
                            <h6><a href="# ">{{product.name}}</a></h6>
                            <h5>{{product.price}}$</h5>
                        </div>
                    </a>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- Featured Section End -->

<!-- Banner Begin -->
<div class="banner ">
    <div class="container ">
        <div class="row ">
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <div class="banner__pic ">
                    <img src="https://bookbuy.vn/Res/Images/Album/6bfae9a9-1025-43a0-bdf6-32918fa9dbfe.png?w=920&h=420&mode=crop" alt=" ">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <div class="banner__pic ">
                    <img src="https://bookbuy.vn/Res/Images/Album/7c250455-592b-4ef7-885b-f36b84ac0516.jpg?w=920&h=420&mode=crop" alt=" ">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->


<!-- Blog Section Begin -->
<section class="from-blog spad ">
    <div class="container ">
        <div class="row ">
            <div class="col-lg-12 ">
                <div class="section-title from-blog__title ">
                    <h2>From The Blog</h2>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-4 col-md-4 col-sm-6 ">
                <div class="blog__item ">
                    <div class="blog__item__pic ">
                        <img src="https://bookbuy.vn/Res/Images/Album/478e0bfd-fa75-4954-a7ac-e858b5ebe8d7.jpg?w=920&h=420&mode=crop" alt=" ">
                    </div>
                    <div class="blog__item__text ">
                        <ul>
                            <li><i class="fa fa-calendar-o "></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o "></i> 5</li>
                        </ul>
                        <h5><a href="# ">Cooking tips make cooking simple</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 ">
                <div class="blog__item ">
                    <div class="blog__item__pic ">
                        <img src="https://bookbuy.vn/Res/Images/Album/478e0bfd-fa75-4954-a7ac-e858b5ebe8d7.jpg?w=920&h=420&mode=crop" alt=" ">
                    </div>
                    <div class="blog__item__text ">
                        <ul>
                            <li><i class="fa fa-calendar-o "></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o "></i> 5</li>
                        </ul>
                        <h5><a href="# ">6 ways to prepare breakfast for 30</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 ">
                <div class="blog__item ">
                    <div class="blog__item__pic ">
                        <img src="https://bookbuy.vn/Res/Images/Album/478e0bfd-fa75-4954-a7ac-e858b5ebe8d7.jpg?w=920&h=420&mode=crop" alt=" ">
                    </div>
                    <div class="blog__item__text ">
                        <ul>
                            <li><i class="fa fa-calendar-o "></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o "></i> 5</li>
                        </ul>
                        <h5><a href="# ">Visit the clean farm in the US</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>