<div>
    <table>
        <thead>
            <tr>
                <th>mã sv</th>
                <th>tên sv</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let student of students">
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>
                    <span *ngIf="student.status === 1">Yes</span>
                    <span *ngIf="student.status === 0">No</span>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn-primary"> OK</button>
</div>




<div>
    <app-table [users]="teachers"> </app-table>
</div>